.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px; /*gutters*/
}

.Header nav a {
  color: black;
  font-size: 24px;
  font-weight: normal;
  margin: 0 10px;
  text-decoration: none;
}

.Header nav a:hover {
  color: magenta;
}

/*--- Home Styling ---*/
.Home {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px 60px; /*gutters*/
}

.Home h2 {
  font-size: 48px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
}

.Home h2 span {
  color: magenta;
}

.WeatherInfo {
  display: flex;
  justify-content: space-between;
}

.WeatherInfo_Basic {
  border: 2px solid black;
  flex-basis: 30%;
  padding: 30px;
  text-align: center;
}

/* .WeatherInfo_Basic h3 {
  font-size: 60px;
  margin: 0;
} */

.WeatherInfo_Type {
  font-size: 60px;
  margin: 0;
  margin-bottom: 30px;
}

.WeatherInfo_Temperature {
  font-size: 84px;
  margin: 0;
}

.WeatherInfo_Temperature_Small {
  font-size: 48px;
  margin: 0;
  margin-bottom: 30px;
}

.WeatherInfo_Extra {
  border: 2px solid black;
  border-left: none;
  display: flex;
  flex-basis: 70%;
  padding: 30px;
}

.WeatherInfo_Extra_Column {
  flex-basis: 50%;
}

.WeatherInfo_Image {
  font-size: 150px;
}

.Label {
  color: black;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 640px) {
  .Header {
    flex-direction: column;
  }

  .Header nav {
    /* display: flex; */
    /* flex-direction: column; */
  }

  .Header nav a {
    font-size: 14px;
  }

  .WeatherInfo {
    flex-direction: column;
  }

  .WeatherInfo_Extra {
    border: 1px solid black;
    border-top: none;

    flex-direction: column;
  }
}
